
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  background: url('../public/photos/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 2px black;
}

.flashcard {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.flashcard.visible {
  opacity: 1;
  transform: translate(0, 0);
}

a {
  text-decoration: none;
  color: rgb(152, 248, 192);
  font-size: 1.1em;
}

a:hover {
  color: rgb(220, 147, 175);
  text-shadow: 2px 2px 4px black;
}

.nav-link:hover {
  color: rgb(220, 147, 175);
  text-shadow: 2px 2px 4px black;
}

.undercover {
  text-shadow: none;
  color: white;
}

.accordion-item {
  border: none;
}

li {
  list-style: none;
}

#footer {
  background-color: none;
}

.accordion-body {
  color: lightgray;
}

.accordion-header {
  background-color: rgb(57, 12, 12);
  border-radius: 90%;
}

.accordion-item {
  background-image: linear-gradient(black, black, rgb(20, 20, 20), black);
}

.accordion-button:not(.collapsed) {
  background-color: black;
  background-image: linear-gradient(rgb(57, 12, 12), rgb(57, 12, 12), rgb(57, 12, 12), rgb(57, 12, 12), rgb(57, 12, 12), rgb(57, 12, 12),  rgb(42, 8, 8), black);
  color: rgb(92, 200, 137);
  text-shadow: 2px 2px black;
  box-shadow: none;
}

.accordion-button:is(.collapsed) {
  background-image: linear-gradient(black, black, rgb(57, 12, 12));
  color: rgb(92, 200, 137);
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.card {
  background-color: rgb(0, 0, 0, 0);
}

.card-group {
  background-color: black;
  margin-bottom: 5em;
}

.card-body {
  background-image: linear-gradient(black, black, black, rgb(42, 8, 8), rgb(57, 12, 12), rgb(42, 8, 8), black, black, black, black);
}

.dropdown-menu {
  background-color: black;
}

.list-group {
  background: transparent;
}

.list-group-item {
  background: transparent;
}

.purple {
  color: rgb(206, 119, 206)
}

.nav {
  background: transparent;
}

.nav-item {
  background: transparent;
}

.nonChalant {
  color: white;
}

.smaller_img {
  max-width: 630px;
  max-height: 400px;
  opacity: 75%;
}

.smaller_img:hover {
  opacity: 100%;
}

.thinner {
  text-shadow: none;
}

.transparent {
  opacity: 75%;
}

.transparent:hover {
  opacity: 100%;
}

.header-nav a {
  color: rgb(152, 248, 192);
  font-size: 1.2em;
}